/* basic body style */
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image:url('https://images.pexels.com/photos/1055272/pexels-photo-1055272.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Styling the navbar of the app */
.navbar {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-start;
    background-color:rgb(238,241,247);	
}

/* Styling of the name of the app */
.title {
	font-weight: 600;
	font-family: Garamond, serif;
	color: #373D3F;
    font-size: 2rem;   
    margin-left: 10px;
}
.logo{
    margin-left: 15px;
    width: 54px;
    margin-top: 10px;
}
/* favourite button for favourite page */
.favourite {
	margin-left: 32px;
	font-size: 2rem;
	font-weight: 600;
	text-decoration: none;
	font-family: Garamond, serif;
	color: #373D3F;
}

/* main for detail with image and instruction */
#main{
    text-align: center;
    position: absolute;
    height: 100%;
    width: 100%;
}
/* image of the meal */
#img{
    position: absolute;
    left: 0;
    top: 15%;
    height: 200px;
    width: 200px;
}
/* name of the meal */
#heading{
    font-size: 3rem;
    font-weight: 900;
    font-family: Garamond, serif;
    margin-left: 10%;
}
/* category of the food */
#category{
    margin-top: -3%;
    font-size: 3rem;
    font-weight: 900;
    margin-left: 10%;
    font-family: Garamond, serif;
}
/* recipe of the food */
#instruction {
    position: absolute;
    top: 30%;
    left: 17%;
    font-size: 1.5rem;
}
/* styling for screen with max width 1300 */
@media only screen and (max-width:1300px) {
	.title {
        margin-left: 20px;
        margin-right: 44px;
        font-size: 2rem;
	}
	.logo {
		width: 40px;
	}
}
/* styling for screen with max width 1010 */
@media only screen and (max-width:1010px) {
	body>h1 {
		font-size: 60px;
		font-weight: 700;
	}
	.logo {
		width: 40px;
	}
	.title {
		margin-left: 2%;
		font-size: 2rem;
	}
	#fav {
		font-size: 2rem;
	}
    #instruction{
        top: 50%;
    }
    #heading{
        font-size: 2rem;   
    }
    #category{
        font-size: 2rem;
    }

	#background {
		height: 50%;
	}
}
/* styling for screen with max width 770px */
@media only screen and (max-width:770px) {
	.logo {
		width: 40px;
	}
	.title {
		margin-left:2%;
		font-size: 1rem;
	}
	#fav {
		margin-left: 20px;
		font-size: 1rem;
	}
    #heading {
        font-size: 2rem;
        margin-left: 10%;
    }
    #category {
        margin-top: -5%;
        font-size: 2rem;
        margin-left: 10%;
    }
    #img {
        height: 125px;
        width: 125px;
    }
    #instruction {
        top: 32%;
    }

}
/* styling for screen with max width 530px */
@media only screen and (max-width:530px) {
	#search {
		margin-left: 2px;
	}

	.title {
		margin-left:1% ;
		font-size: 1rem;
	}

	#fav {
		margin-right: 10px;
		font-size: 15px;
	}
    #img {
        position: absolute;
        left: 0;
        top: 10%;
        height: 100px;
        width: 100px;
    }
    #heading {
        font-size: 1rem;
        margin-left: 10%;
    }
    #instruction {
        top: 28%;
        left: 10%;
        font-size: 1rem;
    }
    #category {
        margin-top: -4%;
        font-size: 1rem;
        margin-left: 10%;
    }

	body>h1 {
		font-size: 38px;
	}

}