<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css for styling -->
    <link rel="stylesheet" type="text/css" href="../Css/details.css">
    <!-- fevicon for the webpage -->
    <link rel="icon" type="image/x-icon" href="../assets/food-app-icon-12.jpg">
    <!-- title of the website -->
    <title>Meal details</title>
</head>

<body>
    <!-- navbar of the website -->
    <nav class="navbar">
        <!-- website logo and onclick this logo the page will redirect to home page -->
        <a href="../index.html"><img class="logo" src="../assets/food-app-icon-12.jpg" alt=""></a>
        <!-- website name -->
        <div class="title">MEAL APP</div>
        <!-- favourite on click this you redirect to favourite page  -->
        <a href="./favourites.html" id="fav" class="favourite">FAVOURITE</a>
    </nav>

    <!-- main box -->
    <div id="main">
        <!-- meal image -->
        <img id="img" alt="">
        <!-- meal name  -->
        <h2 id="heading"></h2>
        <!-- meal category  -->
        <h4 id="category">Category - </h4>
        <!-- details and recipe of the meal -->
        <p id="instruction"></p>
        <!-- javascript for the various events handler -->
        <script src="../Javascript/details.js"></script>
    </div>
    
</body>

</html>