<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css for styling of the page -->
    <link rel="stylesheet" type="text/css" href="../Css/favorites.css">
    <!-- fevicons for the website -->
    <link rel="icon" type="image/x-icon" href="../assets/food-app-icon-12.jpg">
    <!-- title of the webpage -->
    <title>Favourites</title>
</head>

<body>
    <!-- navbar of the page -->
    <nav class="navbar">
        <!-- logo of the page onclick this it will redirect to home page -->
        <a href="../index.html"><img class="logo" src="../assets/food-app-icon-12.jpg" alt=""></a>
        <!-- name of the website -->
        <div class="title">MEAL APP</div>
    </nav>
    
    <!-- favourite box  -->
    <div id="fav-div" class="centerLists">
        <h1>Your Favourites</h1>

        <!-- list of the items   -->
        <div id="fav-list">
        </div>
    </div>
    <!-- javascript for the favourite of the page -->
    <script src="../Javascript/favorites.js"></script>

</body>

</html>